body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: darkgrey;
}

.greeting {
  color: black;
  display: flex;
  justify-content:center;
  align-items:center;
}

.dave {
  color: red;
}